.index {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;      
    height: 50vh;
    
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal-box {
    background: white;
    padding: 20px;
    border-radius: 8px;

    max-height: 80%;
    overflow-y: auto;

    transform: scale(0.9);
    transition: transform 0.3s ease;
}

.overlay.active .modal-box {
    transform: scale(1);
}

.close-btn {
    float: right;
    font-size: 20px;
    border: none;
    background: none;
    cursor: pointer;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.panel {
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}