<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/static/style.css">

    <body>
        <h1>Project AIR</h1>
        <form action="/upload" method="post" enctype="multipart/form-data" onsubmit="return validateAlgorithms()">
            <div>
                <label for="file">Upload CSV File:</label><br>
                <input type="file" id="file" name="file" accept=".csv" required>
            </div>

            <br>

            <div>
                <label>Select at least one voting algorithm:</label><br>

                <input type="checkbox" id="ranked_pairs" name="algorithms" value="ranked_pairs">
                <label for="ranked_pairs">Ranked Pairs</label><br>

            </div>

            <br>

            <button type="submit">Run</button>
        </form>

        <script>
            function validateAlgorithms() {
                const checkboxes = document.getElementsByName("algorithms");
                const firstCheckbox = checkboxes[0];

                let checked = false;

                for (let cb of checkboxes) {
                    if (cb.checked) {
                        checked = true;
                        break;
                    }
                }

                if (!checked) {
                    firstCheckbox.setCustomValidity("Please choose an algorithm.");
                    firstCheckbox.reportValidity();
                    return false;
                }

                firstCheckbox.setCustomValidity("");
                return true;
            }

        </script>

    </body>
</html>